.logo-name {
  color: white;
  font-size: 25px;
  font-family: 'Times New Roman';
}

.container-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /*
    align-items:flex-start;
    align-items:flex-end;
    
    flex-direction:column;
    */
}

.box-1 {
  flex: 1;
  flex-basis: 27%;
  margin-right: 20px;
  width: 250px;
}

.box-2 {
  flex: 2;
  flex-basis: 27%;
  margin-right: 20px;
  width: 250px;
}

.box-3 {
  flex-basis: 27%;
  margin-right: 20px;
  width: 250px;
}

.box-4 {
  flex-basis: 27%;

  width: 250px;
}

.form-control {
  margin: 10px;
}

#Details {
  text-align: left;
}

#line {
  text-align: center;
  color: #f82249;
}

#steps {
  margin: 0 auto;
  text-align: center;
}

#willCall {
  margin-top: 30px;
}

#OurSteps {
  padding-bottom: 20px;
  margin-top: 15px;
}
#icon {
  padding: 10px;
}

#arrow {
  margin: 20px;
  margin-bottom: 80px;
}

#get {
  text-align: center;
  margin-top: 20px;
}

#gett {
  text-align: center;
  margin-bottom: 20px;
}

#slogan {
  font-size: 30px;
}
